@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #000;
    --second-bg-color: #121212;
    --text-color: #fff;
    --main-color: #fd560d;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.7);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
    text-shadow: 0 0 25px 0 var(--main-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

@media(max-width:995px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.7);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .navbar a:hover,
    .navbar a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem;
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: var(--bg-color);
}

.home-img img {
    position: relative;
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--main-color),
                0 0 15px var(--main-color),
                0 0 50px var(--main-color);
                cursor: pointer;
}

.home-img img:hover {
    box-shadow: 0 0 10px var(--main-color),
                0 0 20px var(--main-color),
                0 0 70px var(--main-color);
    transform: scale(1.01);
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: var(--main-color);
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.7rem;
    font-weight: 400;
}

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icon a:hover {
    color: black;
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background: var(--main-color);
}

.button-container {
    display: flex;
    gap: 1rem; /* Espaçamento entre os botões */
}

.button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--second-bg-color);
    border-radius: 10rem;
    z-index: -2;
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}

.button:hover {
    color: #fff;
}

.button:hover:before {
    width: 100%;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 200px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: 'Front-End';
    color: var(--main-color);
    animation: words 40s infinite;
}

.typing-text span::after {
    content: '';
    position: absolute;
    background-color: var(--bg-color);
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 40s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {
    0%, 25% {
        content: 'Front-End';
    }
    26%, 50% {
        content: 'Desenvolvedor Web';
    }
}

@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
       width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}

@media (max-width: 1000px) {
    .home {
        gap: 2rem;
    }
    @media (max-width:995px) {
        .home {
            flex-direction: column;
            margin: 0rem 2rem;
        }
        .home .home-content h2 {
            font-size: 2.5rem;
        }
        .home .home-content h1 {
            font-size: 5rem;
        }
        .home .home-img img {
            width: 70vw;
            margin-top: 4rem;
        }
        }
        }

@media (max-width: 320px) {
    .header {
        padding: 1rem;
    }
    
    .navbar {
        width: 100%;
        right: auto;
        left: 0;
        border-radius: 0;
        border: none;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    
    .navbar.active {
        display: flex;
    }
    
    .navbar a {
        font-size: 1.5rem;
        margin: 1rem 0;
    }
    
    .home {
        flex-direction: column;
        align-items: center;
    }
    
    .home-img img {
        width: 50%;
    }
    
    .home-content h1 {
        font-size: 3rem;
    }
    
    .home-content h3 {
        font-size: 2rem;
    }
    
    .home-content p {
        font-size: 1.2rem;
    }
    
    .social-icon a {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        margin: 1rem 0.5rem;
    }
}

.projetos {
    background: var(--second-bg-color);
}

.heading {
    text-align: center;
    font-size: 5rem;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.projetos .single-service {
    position: relative;
    margin-top: 30px;
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 40px 30px;
    overflow: hidden;
}

.projetos .single-service .content {
    position: relative;
    z-index: 20;
}

.projetos .single-service .circle-before {
    position: absolute;
    top: 0;
    right: 0px;
    transform: translate(40%, -40%);
    width: 150px;
    height: 150px;
    background-color: var(--main-color);
    border: 6px solid #504f93;
    border-radius: 50%;
    opacity: 0.2;
    z-index: 10;
    transition: all .6s;
}

.projetos .single-service:hover .circle-before {
    width: 100%;
    height: 100%;
    transform: none;
    border: 0;
    border-radius: 0;
    opacity: 1;
}

.projetos .single-service .icon {
    display: inline-block;
    margin-bottom: 26px;
    height: 75%;
    width: 75%;
    background-color: var(--bg-color);
    border-radius: 5px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transition: all .3s;
    padding: 10px;
}

.projetos .single-service:hover .icon {
    background-color: var(--second-bg-color);
    color: var(--main-color);
}

.projetos .single-service .title {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 23px;
    transition: color .3s;
}

.projetos .single-service:hover .title {
    color: #000;
}

.projetos .single-service .descricao {
    margin-bottom: 20px;
    font-size: 14px;
    transition: color .3s;
}

.projetos .single-service:hover .descricao {
    color: #000;
}

.projetos .single-service a {
    position: relative;
    font-size: 10px;
    color: var(--main-color);
    text-decoration: none;
    font-weight: 500;
    transition: color .3s;
}

@media (max-width: 768px) {
    .service-container {
        grid-template-columns: 1fr;
    }
    
    .projetos .single-service .icon {
        height: 100%;
        width: 100%;
        font-size: 20px;
    }
    
    .projetos .single-service .title {
        font-size: 18px;
    }
    
    .projetos .single-service .descricao {
        font-size: 12px;
    }
}

.projetos .single-service:hover a{
    color: #000;
}

@media(max-width:991px){
    section{
        padding: 10rem 3% 2rem;
    }
    .projetos {
        padding-bottom: 7rem;
    }
}

@media(max-width:895px){
    .projetos .service-container {
        grid-template-columns: repeat(1, 1fr);
    }
}


.habilidades {
    background: var(--bg-color);
}

.habilidades .container{
    background: var(--second-bg-color);
    color: var(--text-color);
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
}

.habilidades .container .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    margin-bottom: 20px; 
}

.habilidades .bar {
    background: var(--second-bg-color);
    border-radius: 1rem;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.habilidades .bar:hover {
    box-shadow: 0 4px 10px var(--main-color);
    transform: scale(1.03);
}

.habilidades .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.habilidades .bar .info span {
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

/* Media Query para tablets */
@media (max-width: 768px) {
    .habilidades .bar {
        flex: 1 1 50%; /* Definindo a largura das barras para tablets */
        max-width: 50%; /* Definindo a largura máxima das barras para tablets */
    }
}

/* Media Query para dispositivos com largura menor que 480px */
@media (max-width: 480px) {
    .habilidades .bar {
        flex: 1 1 100%; /* Definindo a largura das barras para dispositivos com largura menor que 480px */
        max-width: 100%; /* Definindo a largura máxima das barras para dispositivos com largura menor que 480px */
    }
}
